.converter-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(40,48,72,0.3);
    box-shadow: 5px 5px 10px black;
    padding: 10px;

    .converter-row{
        display: flex;
        flex-direction: row;
        align-items: center;
        .currency-list{
            border-radius: 5px;
            padding: 10px;
            border: 1px solid #fff;
            cursor: pointer;
            background: #CC95C0;
            font-size: 16px;
            color: #fff;
            margin: 0 16px;
        }
    }
   

    .convert-btn{
        border-radius: 5px;
        padding: 10px;
        border: 1px solid #fff;
        float: right;
        cursor: pointer;
        background: rgba(73, 160, 157, 0.7);
        font-size: 16px;
        color: #fff;
    }

    .input-box{
        padding: 10px;
        border: 1px solid #fff;
        border-radius: 5px;
        color: #000;
        background: #F1F1F1;
    }

    .converter-result{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-weight: 500;
        margin-top: 20px;
        color: #fff;
        .amount{
            font-size: 16px;
        }
        .converted-amount{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 800px) {
    .converter-container{
        flex-direction: column;
        .converter-row{
            flex-direction: column;
            .currency-list{
                margin: 16px 0;
            }
        }
        
    }
    
  }