.App {
  height: 100vh;
  background: #5f2c82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.view-container{
  padding: 5% 5% 0;
}

.select-container{
  border-radius: 10px;
  width: 100px;
  height: 50px;
  border: 2px solid white;
  cursor: pointer;
}

.btn-container{
    border-radius: 10px;
    padding: 10px;
    border: 1px solid white;
    float: right;
    cursor: pointer;
    background: rgba(73,160,157,0.7);
    font-size: 16px;
    color: white;
    box-shadow: 5px 5px 10px black;
}